.sample-main-view {

    .x-audio-list-item {
        
        border: 1px solid #ccc;
        border-bottom-width: 0;

        .x-track-info {
    
            padding: 10px 0 5px 10px;
            font-size: .6em;
            color: #676767;
            
            .title {
                font-weight: bold;    
            }
            
        }
    
        &:last-child {
            border-bottom-width: 1px;
        }
    
    }
    
}